<div class="container-common playlist" data-playlist-id='<%= playlist.id %>'>
  <div class="flex-container">
    <i class="fa fa-caret-right fa-3" aria-hidden="true"></i>
    <h3 class='inline'><%= playlist.name %></h3>
    <%= link_to playlist, method: :delete, data: { confirm: "Are you sure ?" }, class: 'playlist-delete', remote: true do %>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="tracks-list playlist-description">
    <table>
      <tr>
        <th>Track name</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Actions</th>
      </tr>
      <% playlist.tracks.each do |track| %>
        <tr data-track-id='<%= track.id %>'>
          <td><%= DeezerApiService.track(track.track_id)['title'] %></td>
          <td><%= track.album_id.nil? ? 'No album' : DeezerApiService.album(track.album_id)['title'] %></td>
          <td><%= track.artist_id.nil? ? 'No artist' : DeezerApiService.artist(track.artist_id)['name'] %></td>
          <td><i class="fa fa-eye" aria-hidden="true"></i> <i class="fa fa-play" aria-hidden="true"></i>
            <%= link_to track, method: :delete, remote: true do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
