<div class="container-common playlist" data-playlist-id='<%= playlist.id %>'>
<!--   <div class="flex-container">
    <i class="fa fa-caret-right fa-3" aria-hidden="true"></i>
    <h3 class='inline'><%# playlist.name %></h3> -->
  <div class="delete-playlist">
    <%= link_to playlist, method: :delete, data: { confirm: "Are you sure ?" }, class: 'playlist-delete', remote: true do %>
      <i class="fa fa-trash" aria-hidden="true">  delete the playlist</i>
    <%  end %>
  </div>
  <!-- </div> -->
  <div class="tracks-list">
    <table class="table playlist-table">
      <tr>
        <th><h4>Track name</h4></th>
        <th><h4>Album</h4></th>
        <th><h4>Artist</h4></th>
        <th colspan="2" class="action-playlist"><h4>Actions</h4></th>
      </tr>
      <% playlist.tracks.each do |track| %>
        <tr data-track-id='<%= track.id %>' data-trackid='<%= track.track_id %>'>
          <td><%= DeezerApiService.track(track.track_id)['title'] %></td>
          <td><%= track.album_id.nil? ? 'No album' : DeezerApiService.album(track.album_id)['title'] %></td>
          <td><%= track.artist_id.nil? ? 'No artist' : DeezerApiService.artist(track.artist_id)['name'] %></td>
          <td><i class="fa fa-play play-playlist" aria-hidden="true"><span class="hidden-xs hidden-sm"> play track<span></i></td>
          <td><%= link_to track, method: :delete, remote: true do %>
              <i class="fa fa-trash" aria-hidden="true"><span class="hidden-xs hidden-sm"> remove track</span></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
