<%= content_tag :div, :class=>"card" do %>
  <%= link_to details_path(artist["id"]), class: 'clickable-card' do %>
    <div class="artist text-center">
      <% if artist["picture_medium"].nil? || artist["picture_medium"] == "https://e-cdns-images.dzcdn.net/images/artist//250x250-000000-80-0-0.jpg" || artist["picture_medium"] == 'https://cdns-images.dzcdn.net/images/artist//250x250-000000-80-0-0.jpg' %>
        <%= image_tag asset_path('placeholder.png'), alt: 'Artist photo', class: 'artist-photo' %>
      <% else %>
        <%= image_tag artist["picture_medium"], alt: 'Artist photo', class: 'artist-photo' %>
      <% end %>
      <h3 class="artist-name"><%= artist["name"] %></h3>
      <p class="artist-style"></p>
    </div>
  <% end %>
<% end %>
