<div class="banner">
  <div class="logo">
    <%= link_to home_path, class: "home" do%>
      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="banner-txt">
    <% unless current_page?(root_path) %>
    <div class="banner-title">Explore all possibilities of music</div>
    <% else %>
    <div class="banner-title">Crescendo</div>
    <% end %>
  </div>
  <div class="dropdown hidden-md hidden-lg">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <% unless current_page?(home_path) %>
            <li><%= link_to "News", home_path %></li>
          <% end %>
          <li><%= link_to "Playlist", playlists_path %></li>
          <li><%= link_to "Profile", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "  Login", new_user_session_path %></li>
          <li><%= link_to "  Sign-up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
</div>
