<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-desktop hidden-xs hidden-sm">
    <%= render 'shared/search_bar' %>

    <div class="flex-avatar">
      <div class="avatar-lg">
        <% if current_user.nil? || current_user.photo.blank? %>
        <%= image_tag "user.png", class: "unlogged avatar-lg",height: 300, width: 400, crop: :fill, alt:"", id: "avatar-navbar" %>
        <% else %>
        <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill, class: "avatar-lg", id: "avatar-navbar", "data-toggle" => "dropdown" %>
        <% end %>
      </div>
    </div>
    <div class="flex-group player-on">
      <% if user_signed_in? %>

      <div class="flex-item navlink">
        <% if current_user.playlists.empty? %>
        <span class = "fa fa-play"></span> <%= link_to "Playlist", playlists_path %>
        <% else %>
        <div class="dropdown">
          <button class="dropdown-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Playlists
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <% current_user.playlists.each do |playlist| %>
              <li><%= link_to playlist.name, '#' %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>

      <div class="flex-item navlink">
        <span class = "fa fa-play"></span> <%= link_to "Profile", edit_user_registration_path %>
      </div>

        <div class="flex-item navlink ">
          <span class = "fa fa-eject"></span> <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>

      <div class="flex-item navlink">
        <span class = "fa fa-play"></span> <%= link_to "  Login", new_user_session_path %>
      </div>
      <div class="flex-item navlink">
        <span class = "fa fa-play"></span> <%= link_to "  Sign-up", new_user_registration_path %>
      </div>

      <% end %>
    </div>
    <div class="music-player" id="music-player">
      <div id="dz-root"></div>
      <script>
        DZ.init({
          appId  : <%= ENV['DEEZER_APP_ID'] %>,
          channelUrl : 'http://www.crescendo.icu/channel.html',
          player : {
            container: 'music-player',
            size: 'small',
            width : 200,
            height : 200,
            format : 'square',
            onload : function(){}
          }
        });
      </script>
    </div>
  </div>

  <div class="navbar-wagon-item hidden-md hidden-lg">
    <%= render 'shared/search_bar' %>

  </div>


</div>
