  <div><h2>Artists</h2></div>
<div class="container-home-artist">
  <ul class="nav nav-tabs">
    <li class="active tab-self"><a data-toggle="tab" href="#popular" class="link-tab"><h3>Popular</h3></a></li>
    <li class="tab-self"><a data-toggle="tab" href="#new" class="link-tab"><h3>New</h3></a></li>
    <li class="tab-self"><a data-toggle="tab" href="#recommended" class="link-tab"><h3>Recommended</h3></a></li>
  </ul>
  <div class="tab-content">
    <div id="popular" class="tab-pane fade in active">
      <div id = 'popular-content'>
      <%= render 'shared/carroussel', carousel: "artist_popular" %>
      </div>
    </div>
    <div id = "new" class="tab-pane fade">
      <div id = "new-content">
      <%= render 'shared/carroussel', carousel: "artist_new" %>
      </div>
    </div>
    <div id="recommended" class="tab-pane fade">
      <div id = 'recommended-content'>
        <%= render 'shared/carroussel', carousel: "artist_recommended" %>
      </div>
    </div>
  </div>
</div>


<div><h2>News</h2></div>
<div class="container-home-news">
  <ul class="nav nav-tabs">
    <li class="active tab-self"><a data-toggle="tab" href="#news"><h3>News</h3></a></li>
    <li class="tab-self"><a data-toggle="tab" href="#ynews"><h3>Your news<h3></a></li>
  </ul>

  <div class="tab-content">
    <div id="news" class="tab-pane fade in active">
      <% @news["articles"].first(20).each do |article| %>
        <%= render 'shared/news', article: article %>
      <% end %>
    </div>
    <div id="ynews" class="tab-pane fade">
      <% @ynews["articles"].each do |article| %>
        <%= render 'shared/news', article: article %>
      <% end %>
    </div>
  </div>
</div>
