<div class="container-home-artist">

  <ul class="nav nav-tabs">
    <li class="active tab-self"><a data-toggle="tab" href="#popular" class="link-tab">Popular</a></li>
    <li class="tab-self"><a data-toggle="tab" href="#new" class="link-tab">New</a></li>
    <li class="tab-self"><a data-toggle="tab" href="#recommended" class="link-tab">Recommended</a></li>
  </ul>

  <div class="tab-content">
    <div id="popular" class="tab-pane fade in active">
      <div id = 'popular-content'>
      <%= render 'shared/carroussel' %>
      </div>
    </div>
    <div id = "new" class="tab-pane fade">
      <div id = "new-content">
      <%= render 'shared/carroussel' %>
      </div>
    </div>
    <div id="recommended" class="tab-pane fade">
      <div id = 'recommended-content'>
        <%= render 'shared/carroussel' %>
      </div>
    </div>
  </div>
</div>


<div class="container-home-news">

  <ul class="nav nav-tabs">
    <li class="active tab-self"><a data-toggle="tab" href="#news">News</a></li>
    <li class="tab-self"><a data-toggle="tab" href="#ynews">Your news</a></li>
  </ul>

  <div class="tab-content">
    <div id="news" class="tab-pane fade in active">
      <% @news["articles"].first(20).each do |article| %>
        <%= render 'shared/news', article: article %>
      <% end %>
    </div>
    <div id="ynews" class="tab-pane fade">
      <% @ynews["articles"].each do |article| %>
        <%= render 'shared/news', article: article %>
      <% end %>
    </div>
  </div>
</div>
