<div class="landing">
  <div class="landing-content">
    <h1>Explore </br> all possibilities </br>of music</h1>
    <div class="text-center">
      <%= link_to "Let's play", home_path, class: "btn btn-default btn-lg" %>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center features-landing">Features</h2>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h3>Search artists</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h3>Find albums</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h3>Your favorites</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h3>Lyrics of songs</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h3>Music clip</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="card-landing">
        <div class="card-display">
          <div class="card-picto">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          </div>
          <div class="card-content">
            <h3>Music news</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-partner">
  <div class="text-center">
    <h2 id="landing-partner">Our partners</h2>
  </div>
  <div class="text-center fluid-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="logo-partner">
          <%= image_tag 'MTVNews.png', alt: "Logo MTV", id: 'logo-mtv' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="logo-partner" id="logo-partner-deezer">
          <%= image_tag 'DZ_Logo_CMYK_W.png', alt: "Logo Deezer", id: 'logo-deezer' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="logo-partner" id="logo-partner-youtube">
          <%= image_tag 'yt_logo_rgb_dark.png', alt: "Logo Youtube", id: 'logo-youtube' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="logo-partner">
          <%= image_tag 'Wikia_MainMark_Walter-White_64.png', alt: "Logo Wikia", id: 'logo-wikia' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="logo-partner">
          <%= image_tag 'MetroLyricsLogo_Dark_BGs.png', alt: "Logo Metrolyrics", id: 'logo-metrolyrics' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
        <div class="logo-partner">
          <%= image_tag 'Wagon_logo_red_circle.png', alt: "Logo Wagon", id: 'logo-wagon' %>
        </div>
      </div>
    </div>
  </div>

</ul>
</div>
