<div class="container-artist-information">
  <div class="photo-artist">
    <%= image_tag @artist["picture_medium"], id: "photo-art" %>
  </div>
  <div class="info-artist">
    <h3 id="artist-name"><%= @artist["name"] %></h3>
    <%= link_to "see wiki", "https://www.rollingstone.com/music/artists/nirvana/biography", id: "wiki-link" %>
    <%= link_to "add to playlist", ""  %>
    <p>rating</p>
  </div>
  <div class="album-carroussel">
    <%= render 'shared/album_carroussel' %>
  </div>
</div>
<div class="details-body">
  <div class="left-side">
    <h3>Tracks</h3>
    <ul>
      <% tracks = DeezerApiService.tracks(57124442) %>
      <% tracks["data"].each do |track| %>
        <li><%= "#{track['track_position']}. #{track['title']}" %></li>
        <%= audio_tag track['preview'], :type => "audio/mp3", :controls => true %>
      <% end %>
    </ul>
  </div>
  <div class="right-side">
    <div class="container-show">
        <div class="row">
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Video
            </div>
          </div>
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Lyrics
            </div>
          </div>
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Traductions
          </div>
          </div>
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Goodies
            </div>
          </div>
          <div class="col-xs-6 space-padding">
            <div class="card-show">
              Pictures
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
