<%= render 'shared/modal_playlist', options: @playlist_option_for_form %>
<div class="container-artist-information">
  <div class="artist-data-mobile">
    <div class="info-artist">
      <div class="photo-artist">
        <%= image_tag @artist["picture_medium"], id: "photo-art" %>
      </div>
      <h3 id="artist-name"><%= @artist["name"] %></h3>
      <p>
        <% rating = (0..5).to_a.sample %>
        <% if rating > 0  %>
        <% diff = 5 - rating %>
        <% rating.times do |x| %>
        <i class="fa fa-star rating text-center"></i>
        <% end %>
        <% diff.times do |y| %>
        <i class="fa fa-star-o rating text-center"></i>
        <% end %>
        <% else %>
        <% 5.times do |x| %>
        <i class="fa fa-star-o rating text-center"></i>
        <% end %>
        <% end %>
      </p>
    </div>
  </div>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active tab-self"><a data-toggle="tab" href="#albums">Albums</a></li>
      <li class="tab-self"><a data-toggle="tab" href="#related">Artists related</a></li>
    </ul>
    <div class="tab-content">
      <div id="albums" class="tab-pane fade in active">
        <div class="album-carroussel">
          <%= render 'shared/test_carroussel' %>
        </div>
      </div>
      <div id="related" class="tab-pane fade">
        <div class="artist-carroussel">
          <%= render 'shared/test_related_caroussel' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="details-body">
 <div class="right-side">
  <div class="left-side">
    <h3>Tracks</h3>

    <ul id="tracklist">

     <!--  <li class="on-air first-track"><span class="active-track" id="" data-artist="" data-song=""></span><i class="fa fa-play-circle" aria-hidden="true"></i><span class="track-name"></span></li> -->
   </ul>
   <% # audio_tag track['preview'], :type => "audio/mp3", :controls => true %>
 </div>
 <div class="container-show">
  <div class="row">
    <div class="col-xs-12 col-md-6 space-padding">
      <div class="card-show">
        <h5>Video</h5>
        <iframe id="player" type="text/html" width="640" height="360"
        src=""
        frameborder="0"></iframe>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 space-padding">
      <div class="card-show">
        <div class="option-lyrics">
          <div class="title-lyrics">
            <h5>Lyrics</h5>
          </div>
          <span id="menu-lyrics">
            <i class="fa fa-play-circle" id="scroll" aria-hidden="true"></i>
            <i class="fa fa-pause-circle" aria-hidden="true" id="pause"></i>
            <i class="fa fa-stop-circle" aria-hidden="true" id="stop"></i>
          </span>
          <span id="intervalID" hidden></span>
        </div>
        <div id="lyrics">
          <!-- controller Show lyric_by_track -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
