<div class="container-artist-information">
  <div class="photo-artist">
    <%= image_tag @artist["picture_medium"], id: "photo-art" %>
  </div>
  <div class="info-artist">
    <h3 id="artist-name"><%= @artist["name"] %></h3>
    <%= link_to "see wiki", @artist["link"], target: "_blank", id: "wiki-link" %>
    <%= link_to "add to playlist", ""  %>
    <p>rating</p>
  </div>
  <div class="album-carroussel">
    <%= render 'shared/album_carroussel' %>
  </div>
</div>
<div class="details-body">
  <div class="left-side">
    <h3>Tracks</h3>
    <ul>



      <!-- <span id= "cach-tracks" hidden> -->
       <% #@tracks[41838521].each do |track| %>
      <!-- </span> -->
       <span id= "cach-tracks" hidden>
        <% @tracks.first[1].each do |track| %>
      </span>
        <li><%= "#{track['track_position']}. #{track['title']}" %>
          <% if current_user %>
            <%= link_to tracks_path(track['id']), method: :post, remote: true do %>
              <i class="fa fa-plus" aria-hidden="true"></i></li>
            <% end %>
          <% end %>
        </li>
        <%= audio_tag track['preview'], :type => "audio/mp3", :controls => true %>
      <% end %>
    </ul>
  </div>
  <div class="right-side">
    <div class="container-show">
      <div class="row">
        <div class="col-xs-6 space-padding">
          <div class="card-show">
            Video
            <iframe id="player" type="text/html" width="640" height="360"
            src=<%="https://www.youtube.com/embed?listType=search&list="+@artist_split.join('+')%>
            frameborder="0"></iframe>
          </div>
        </div>
        <div class="col-xs-6 space-padding">
          <div class="card-show">
            Lyrics
            <span id="menu-lyrics">
              <i class="fa fa-play-circle" id="scroll" aria-hidden="true"></i>
              <i class="fa fa-pause-circle" aria-hidden="true" id="pause"></i>
              <i class="fa fa-stop-circle" aria-hidden="true" id="stop"></i>
            <span>
            <span id="intervalID" hidden></span>
            <div id="lyrics">
              <% lyric = LyricsFetchService.call(@artist['name'], 'Smell like teen spirit') %>
              <p><%= lyric.html_safe %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 space-padding">
          <div class="card-show">
            Traductions
          </div>
        </div>
        <div class="col-xs-6 space-padding">
          <div class="card-show">
            Goodies
          </div>
        </div>
        <div class="col-xs-6 space-padding">
          <div class="card-show">
            Pictures
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

