<%= render 'shared/modal_playlist', options: @playlist_option_for_form %>
<div class="container-artist-information">
  <div class="photo-artist">
    <%= image_tag @artist["picture_medium"], id: "photo-art" %>
  </div>
  <div class="info-artist">
    <h3 id="artist-name"><%= @artist["name"] %></h3>
    <%= link_to "see wiki", @artist["link"], target: "_blank", id: "wiki-link" %>
    <%= link_to "add to playlist", ""  %>
    <p>
      <% rating = (0..5).to_a.sample %>
      <% if rating > 0  %>
        <% diff = 5 - rating %>
        <% rating.times do |x| %>
          <i class="fa fa-star rating text-center"></i>
        <% end %>
        <% diff.times do |y| %>
          <i class="fa fa-star-o rating text-center"></i>
        <% end %>
      <% else %>
        <% 5.times do |x| %>
          <i class="fa fa-star-o rating text-center"></i>
        <% end %>
      <% end %>
    </p>
  </div>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active tab-self"><a data-toggle="tab" href="#albums">Albums</a></li>
      <li class="tab-self"><a data-toggle="tab" href="#related">Artists related</a></li>
    </ul>
    <div class="tab-content">
      <div id="albums" class="tab-pane fade in active">
        <div class="album-carroussel">
          <%= render 'shared/album_carroussel' %>
        </div>
      </div>
      <div id="related" class="tab-pane fade">
        <div class="artist-carroussel">
          <%= render 'shared/related_carroussel' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="details-body">
  <div class="left-side">
    <h3>Tracks</h3>

    <ul id="tracklist">

     <!--  <li class="on-air first-track"><span class="active-track" id="" data-artist="" data-song=""></span><i class="fa fa-play-circle" aria-hidden="true"></i><span class="track-name"></span></li> -->
    </ul>
        <% # audio_tag track['preview'], :type => "audio/mp3", :controls => true %>
  </div>
  <div class="right-side">
    <div class="container-show">
      <div class="row">
        <div class="col-xs-6 space-padding">
          <div class="card-show">
            Video
            <iframe id="player" type="text/html" width="640" height="360"
            src=""
            frameborder="0"></iframe>
          </div>
        </div>
        <div class="col-xs-6 space-padding">
          <div class="card-show">
            Lyrics
            <span id="menu-lyrics">
              <i class="fa fa-play-circle" id="scroll" aria-hidden="true"></i>
              <i class="fa fa-pause-circle" aria-hidden="true" id="pause"></i>
              <i class="fa fa-stop-circle" aria-hidden="true" id="stop"></i>
            <span>
            <span id="intervalID" hidden></span>
            <div id="lyrics">
              <!-- controller Show lyric_by_track -->
            </div>
          </div>
        </div>
        <div class="col-xs-6 space-padding">
          <div class="card-show">
            Goodies
          </div>
        </div>
        <div class="col-xs-6 space-padding">
          <div class="card-show">
            Pictures
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
